html {
  height:100%
}

body.bg-image {
    background-image: url(/static/img/fornax.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.prettyprint {
    padding: 8px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
}
