<!DOCTYPE html>
<html>
  <head>
    {% include 'sip_assembly/head.html' %}
    {% block extra_css %}{% endblock %}
  </head>
  <body class="bg-image h-100">
    <div class="wrapper h-100">
      <!-- Content Wrapper. Contains page content -->
      <div class="row d-flex h-100">
        <!-- Content Header (Page header) -->
        <section class="text-center">
          <h1 class="display-4">{% block h1_title %}{% endblock %}</h1>
        </section>
        <!-- Main content -->
        <section class="content col-12 align-self-center">
        {% block content %}{% endblock %}
        </section>
      </div>

      <!-- REQUIRED JS SCRIPTS -->
      {% include 'sip_assembly/scripts.html' %}
      {% block extra_js %}{% endblock %}

    </div>
  </body>
</html>
