{% extends 'sip_assembly/base.html' %}

{% block content %}
<div class="jumbotron col-md-6 offset-md-3 col-sm-10 offset-sm-1">
  <div class="float-right">
    <a class="btn btn-secondary btn-sm" href="status/">Service Status</a>
    <a class="btn btn-secondary btn-sm" href="{% url 'schema-json' '.json' %}">OpenAPI Schema</a>
  </div>
  <h1 class="display-4">Fornax</h1>
  <p class="lead">A microservice to create Archivematica-compliant Submission Information Packages</p>
  <hr class="my-4">
  <div>
    {% if user.is_authenticated %}
    <a class="btn btn-primary btn-lg mb-2 mr-2" href="{% url 'sip-list' %}">Create SIP</a>
    {% else %}
    <a class="btn btn-primary btn-lg mb-2 mr-2" href="{% url 'rest_framework:login' %}?next={% url 'home' %}">Login</a>
    {% endif %}
  </div>
</div>
{% endblock %}
