amclient==1.1.1
asterism==0.6.2
bagit==1.8.1
csvvalidator==1.2
Django==3.2.3
djangorestframework==3.12.4
health-check==3.4.1
jsonschema==3.2.0
psycopg2-binary==2.8.6
requests==2.25.1
uritemplate==3.0.1
vcrpy==4.1.1
