DEBUG = True

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql',
        'NAME': 'postgres',
        'USER': 'postgres',
        'HOST': 'fornax-db',
        'PORT': 5432,
    }
}

ALLOWED_HOSTS = ['fornax-web', 'localhost']

BASE_DIR = ''

SRC_DIR = '{}/src'.format(BASE_DIR)
TMP_DIR = '{}/tmp'.format(BASE_DIR)
DEST_DIR = '{}/dest'.format(BASE_DIR)

PROCESSING_CONFIG_DIR = 'processing_configs'
PROCESSING_CONFIG = 'processingMCP.xml'

ARCHIVEMATICA = {
  "aurora": {
    "baseurl": "http://archivematica-dashboard:8000",
    "username": "test",
    "api_key": "test",
    "location_uuid": "ed37e81d-2af3-45a3-aa30-a60a12c95bbe",
    "processing_config": "automated",
    "close_completed": True,
  },
  "digitization": {
    "baseurl": "http://archivematica-dashboard:8000",
    "username": "test",
    "api_key": "test",
    "location_uuid": "ed37e81d-2af3-45a3-aa30-a60a12c95bbe",
    "processing_config": "automated",
    "close_completed": False,
  },
  "legacy_digital": {
    "baseurl": "http://archivematica-dashboard:8000",
    "username": "test",
    "api_key": "test",
    "location_uuid": "ed37e81d-2af3-45a3-aa30-a60a12c95bbe",
    "processing_config": "automated",
    "close_completed": False,
  }
}

STATIC_ROOT = "/static"

CLEANUP_URL = "http://ursa-major-web:8005/cleanup/"
