# Local config file - rename to config.py

UPLOAD_DIR = 'uploads'
TEST_UPLOAD_DIR = 'test_uploads'
PROCESSING_DIR = 'processing'
TEST_PROCESSING_DIR = 'test_processing'
PROCESSING_CONFIG_DIR = 'processing_configs'
PROCESSING_CONFIG = 'processingMCP.xml'
DELIVERY = {
    'user': 'user',
    'host': '/archivematica_transfer_source/',
}
TEST_DELIVERY = {
    'user': 'user',
    'host': '/archivematica_transfer_source/',
}
ARCHIVEMATICA = {
  "baseurl": "http://archivematica-dashboard:8000/api/",
  "username": "test",
  "api_key": "test",
  "location_uuid": "b45b5bcc-bfd6-4e00-b252-7e49c1c02f73",
}
